- name: Create obs dir
  file:
    path: /opt/obs
    state: directory
    mode: "0735"

- name: Copy compose + configs
  copy:
    src: "{{ item }}"
    dest: "/opt/obs/{{ item | basename }}"
  loop:
    - docker-compose.yml
    - prometheus.yml
    - alert_rules.yml
    - filebeat.yml

- name: Docker compose up
  community.docker.docker_compose_v2:
    project_src: /opt/obs
    state: present